<form name="myForm">
  <div class="control-group" ng-class="{error: myForm.date.$invalid && !myForm.date.$pristine}">
    <label>Date</label>
    <input type="date" name="date" ng-model="cartrips.date" required>
<!--    <span ng-show="myForm.date.$error.required && !myForm.date.$pristine" class="help-inline">
        Required {{myForm.date.$pristine}}</span>-->
  </div>
 
  <div class="control-group" ng-class="{error: myForm.car.$invalid && !myForm.car.$pristine}">
    <label>Car</label>
    <input type="text" name="car" ng-model="cartrips.car" required>
<!--    <span ng-show="myForm.car.$error.required && !myForm.car.$pristine" class="help-inline">
        Required</span>-->
  </div>

  <div class="control-group" ng-class="{error: myForm.destination.$invalid && !myForm.destination.$pristine}">
    <label>Destination</label>
    <input type="text" name="destination" ng-model="cartrips.destination" required>
<!--    <span ng-show="myForm.destination.$error.required && !myForm.destination.$pristine" class="help-inline">
        Required</span>-->
  </div>

  <div class="control-group" ng-class="{error: myForm.reason.$invalid && !myForm.car.$pristine}">
    <label>Reason</label>
    <input type="text" name="reason" ng-model="cartrips.reason" required>
<!--    <span ng-show="myForm.reason.$error.required && !myForm.reason.$pristine" class="help-inline">
        Required</span>-->
  </div>

  <div class="control-group" ng-class="{error: myForm.distance.$invalid && !myForm.distance.$pristine}">
    <label>Distance</label>
    <input type="number" name="distance" ng-model="cartrips.distance" required>
<!--    <span ng-show="myForm.distance.$error.required && !myForm.distance.$pristine" class="help-inline">
        Required</span>-->
  </div>
 
  <br>
  <a href="/trips" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="myForm.$invalid"
          class="btn btn-primary">Save</button>
  <button ng-click="destroy()"
          ng-show="cartrips.$remove" class="btn btn-danger">Delete</button>
</form>
