<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <script src="{{ url_for('static', filename='jquery.ui.datepicker.validation.pack.js') }}" ></script>
        <script> $(function() {
                $(".datepicker").datepicker({dateFormat: "yy-mm-dd"});
                $("#addtrip").validate(); 
            });
        </script>
    </head>
    <body>
    <div class="container">
        <p>You are logged in as {{ username }}</p>
        <ul id="links">
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
            <p>Years:<p>
            <ul>
            {% for year in years %}
              <li>
                {% if year == selected_year %}
                  {{ year }}
                {% else %}
                  <a href="{{ url_for('index_with_year', year=year) }}">{{ year }}</a>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
            <p>Cars:
            {% for car in cars %}
                {{ car }},
            {% endfor %}
            </p>

        <h1>Add new trip</h1>
                    <form id="addtrip" action="addtrip" method="post">
                        <div class="form-group">
                            <input required class="datepicker" name="date" placeholder="Date" type="text"/>
                        </div>
                        <div class="form-group">
                            <input required name="car" placeholder="Car"/>
                        </div>
                        <div class="form-group">
                            <input required name="destination" placeholder="Destination"/>
                        </div>
                        <div class="form-group">
                            <input required name="reason" placeholder="Reason for Trip"/>
                        </div>
                        <div class="form-group">
                            <input required name="distance" type="number" placeholder="Distance (km)"/>
                         </div>
                        <input type="submit" value="Add">
                    </form>
        <h1>Add new odometer reading</h1>
                    <form id="addodometer" action="addodometer" method="post">
                        <div class="form-group">
                            <input required class="datepicker" name="date" placeholder="Date" type="text"/>
                        </div>
                        <div class="form-group">
                            <input required name="car" placeholder="Car"/>
                        </div>
                        <div class="form-group">
                            <input required name="km" placeholder="km"/>
                        </div>
                        <input type="submit" value="Add">
                    </form>


        <h1>Odometer readings</h1>
            <ul>
                 {% if odometers|length == 0 %}
                    <p>No readings</p>
                {% else %}
                    {% for odometer in odometers %}
                    <li>{{ odometer.km }} km on {{ odometer.date.year }}-{{ odometer.date.month }}-{{ odometer.date.day }} for {{ odometer.car }} <form style="display:inline" action="deleteodometer/{{ odometer._id }}" method="get"><input type="submit" value="remove"/></form></li>
                    {% endfor %} 
                {% endif %}
            </ul>
       

        <h1>This year's trips (total: {{ totalkm }}km)</h2>
            <ul>
                {% if trips|length == 0 %}
                    <p>No trips</p>
                {% else %}
                    {% for trip in trips %}
                    <li>On {{ trip.date.year }}-{{ trip.date.month }}-{{ trip.date.day }} drove {{ trip.car }} {{ trip.distance }} km to {{ trip.destination }} for {{ trip.reason }} <form style="display:inline" action="deletetrip/{{ trip._id }}" method="get"><input type="submit" value="remove"/></form></li>
                    {% endfor %} 
                {% endif %}
            </ul>
    </div> <!-- container -->
    <body>
</html>
